@import '../../variables.scss';

.filter {
  border: 2px solid $decor-color-2;
  padding: 16px;
  border-radius: 4px;
  height: fit-content;

  &__title {
    font-size: 14px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    list-style: none;
  }
}