// decorative-colors
$decor-color-1: blue;
$decor-color-2: #dedbdb;
$decor-color-3: rgb(1, 1, 181);

// font colors
$font-color-1: #fff;
$font-color-2: #000;

// desktop-size

$desktop-size-1: 1920px;
$desktop-size-2: 1366px;
$desktop-size-3: 1024px;
$desktop-size-4: 768px;
$desktop-size-5: 320px;
